body{
  background-color: #192841;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style-type: none;
 
}

.nav{
  font-size:30px;
}
.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



.title{
  font-family: 'Sigmar';
  background-color: #ffffff3b;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}


.wrapper{ /* Reference: https://css-tricks.com/best-way-implement-wrapper-css/ */
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */
  max-width: 960px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}


.form{
  background-color: #ffffff3b;
  padding: 20px;
  border-radius: 10px;
}


.form label{
  width: 30%;
}


.form input{
  margin: 10px 0;
}


.form input[type="text"]{
  border: 0;
  padding: 10px;
  border-radius: 5px;
}


.form button{
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}


.form button:hover{
  background-color: #8b8b8b;
}
