.title{ /* for the title post it*/
  background-color: blanchedalmond;
}

#postID{ /* this is for the margin of the post it*/
  margin-left: 100px;
}

ul { /* no bullets for the list*/
  list-style-type: none;
 
}
#sections{ /* this is for the div flex-container below title*/

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#postSomething{ /* this is to have a larger input field*/
  width :350px;
}

.post{ /* image size*/
  height: 50px;
  width: 50px;
}

.nav{ /*font size of the icons*/
  font-size:30px;
}

#posts{ /*this is for the posts spacing*/
  border: solid;
  border-width: 1px;
  border-color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.form button{ 
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background-color: green;
  cursor: pointer;
}

.form button:hover{ 
  background-color: #8b8b8b;
}


.virals{ /*this is for the trends section*/
  background-color: blanchedalmond;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
}

#nameDesc{ /* this is for the spacing for the posts name and description*/
  margin-left: 10px;
  margin-bottom: 20px;
}
